.ItemModal {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: aliceblue;
	min-width: 80vw;
	min-height: fit-content;
	z-index: 1;
	border: black 3px solid;
}

.ItemModal > h1 {
	text-align: center;
}

.bot-container {
	display: flex;
	flex-direction: row;
}

.ItemModal .preview-container {
	max-width: 1000px;
	flex: 1;
	align-self: center;
}

.ItemModal form {
	flex: 1;
	padding: 30px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

form button {
	min-width: fit-content;
}

form > div {
	display: flex;
	align-items: center;
	gap: 5px;
}

div > input {
	flex: 1;
	border: 1px black solid;
}
